<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>sign-up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">sign-up</ion-title>
    </ion-toolbar>
  </ion-header>

  <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
    <div class="mb-6">
      <label for="email">Email address</label>
      <input #emailInput="ngModel" type="email" placeholder="email" id="email" name="email" ngModel required />
      <div *ngIf="emailInput.invalid && emailInput.touched">Please enter a valid email address</div>
    </div>

    <div class="mb-6">
      <label for="password">Password</label>
      <input #passwordInput="ngModel" type="password" placeholder="password" id="password" name="password" ngModel required />
      <div *ngIf="passwordInput.invalid && passwordInput.touched">Please enter a valid password</div>
    </div>

    <button type="submit" class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-500 to-pink-500 group-hover:from-purple-500 group-hover:to-pink-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800"
      [disabled]="registerForm.invalid">
      <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-transparent group-hover:dark:bg-transparent">
        Sign Up
      </span>
    </button>
  </form>

  <button (click)="onSignUp()"
    class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-500 to-pink-500 group-hover:from-purple-500 group-hover:to-pink-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800">
    <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-transparent group-hover:dark:bg-transparent">
      Go to login
    </span>
  </button>
</ion-content>
